@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

@font-face {
  font-family: 'Inter';
  src: local('Inter'),
    url(../utils/fonts/inter/Inter-Regular.module.ttf) format('ttf');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #fef4ed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Inter',
    'Afterglow', 'Fleur De Leah', sans-serif, cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100%;
}
